{% extends 'main.base.html.twig' %}

{% block title %}Registrieren!{% endblock %}

 {% block mainContent %}
     <h1 class="h3 mb-3 font-weight-bold">Registrieren</h1>
     {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
     {{ form_start(registrationForm, {'attr': {class: 'w-75 mx-auto'}} ) }}
     {{ form_row(registrationForm.sex, { 'label': 'Geschlecht' }) }}

     {{ form_row(registrationForm.firstName, { 'label': 'Vorname' }) }}
     {{ form_row(registrationForm.lastName, { 'label': 'Nachname' }) }}
     {{ form_row(registrationForm.dateOfBirth, { 'label': 'Geburtsdatum' }) }}
     {{ form_row(registrationForm.phoneNr, { 'label': 'Handy-Nr','attr':{'placeholder': 'z.B 015651439876'} }) }}
     {{ form_row(registrationForm.email) }}
     {{ form_row(registrationForm.password) }}
     {{ form_row(registrationForm.captchaCode) }}
     <button class="btn btn-success">Anmeldung</button>
     {{ form_end(registrationForm) }}
 {% endblock %}

