{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% if form is not empty %}
{{ form_start(form, {'method': 'GET'}) }}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-street-view"></i></div>
            </div>
            {{ form_widget(form.pickUp, {'attr': {'placeholder':'Von...'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
            </div>
            {{ form_widget(form.dropOff, {'attr': {'placeholder':'Nach...'}}) }}
        </div>
    </div>
    <div class="form-group date">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
            </div>
            {{ form_widget(form.pickUpDate) }}
        </div>
    </div>
    <button type="submit" class="btn btn-info" ><i class="fas fa-search"></i> Suche</button>
{{ form_end(form) }}
{% endif %}