{% extends 'my.base.html.twig' %}

{% block title %} Welcome !{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">
    {% endblock %}
 {% block mainContent %}
     <div id="admin_contact_form">

     </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.min.js') }}" ></script>
    <script src="{{ asset('js/ride.form.js') }}" ></script>
    <script>
        $( function() {
            setDatePicker( 'search_ride_pickUpDate' );
            setDefaultDate( 'search_ride_pickUpDate' );
            autoCompleteSearchForm( ['search_ride_pickUp','search_ride_dropOff'] );
        } );
    </script>
{% endblock %}
