{% extends 'admin.base.html.twig' %}

{% block title %}Users{% endblock %}

{% block mainContent %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PhoneNr</th>
                <th>DateOfBirth</th>
                <th>IsEmail</th>
                <th>IsPhone</th>
                <th>Photo</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.phoneNr }}</td>
                <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ user.isEmail ? 'Yes' : 'No' }}</td>
                <td>{{ user.isPhone ? 'Yes' : 'No' }}</td>
                <td>{{ user.photo }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}">Create new</a>
{% endblock %}
