<!DOCTYPE html>
<html>
<head>
    {% include "components/header/meta.head.html.twig" %}
    <title>{% block title %} Mitfahrgelegenheit? Zooya! Deutschland größte kostenlos Mitfahrzentrale{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container">

    {% include "components/header/my.head.html.twig" %}
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2 sidebar" id="rightSidebar">
            {% block rightSidebar %}
                {% include "components/sidebar/my.right.html.twig" %}
            {% endblock %}
        </div>
        <div class="col-sm-9 col-md-7 col-lg-6" id="mainContent">
            <div class="alert alert-secondary" role="alert">
                {% block mainContent %}{% endblock %}
            </div>

        </div>
    </div>

</div>
<footer id="zooya-footer" class="fixed-bottom">
    <div class="container">
        <div class="row mb-1 mt-3" >
            {% include "components/footer/my.footer.html.twig" %}
        </div>
    </div>
</footer>
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}" ></script>
    <script src="{{ asset('js/popper.min.js') }}" ></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('js/main.js') }}" ></script>
    <script>
        $(function() {
            let marginbottom = $('#zooya-footer').height();
            $('#mainContent').css("margin-bottom", marginbottom);
            if( window.innerWidth <= 800 ) {
                var _originalSize = $(window).width() + $(window).height();
                $(window).resize(function() {
                    if ($(window).width() + $(window).height() != _originalSize) {
                        // console.log("keyboard active");
                        $('#zooya-footer').fadeOut( "slow" );
                    } else {
                        // console.log("keyboard closed");
                        $('#zooya-footer').fadeIn("slow");
                    }
                });
            }

        });
    </script>
{% endblock %}
</body>
</html>